In [8]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.11/site-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.11/site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [22]:
myclient = pymongo.MongoClient("mongodb://root:mongo@mongo_service:27017/")
#mongodb://root:mongo@mongo_service:27017/
mydb = myclient["mydatabase"]

In [23]:
mycol = mydb["customers"]

In [24]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [25]:
print(myclient.list_database_names())

['AulaDemo', 'admin', 'config', 'local', 'mongodbVSCodePlaygroundDB', 'mydatabase']

In [26]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

The database exists.

In [27]:
print(mydb.list_collection_names())

['customers']

In [28]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")

The collection exists.

In [30]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

662678c51e146752dca8b123

In [68]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [69]:
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('662695091e146752dca8b13c'), ObjectId('662695091e146752dca8b13d'), ObjectId('662695091e146752dca8b13e'), ObjectId('662695091e146752dca8b13f'), ObjectId('662695091e146752dca8b140'), ObjectId('662695091e146752dca8b141'), ObjectId('662695091e146752dca8b142'), ObjectId('662695091e146752dca8b143'), ObjectId('662695091e146752dca8b144'), ObjectId('662695091e146752dca8b145'), ObjectId('662695091e146752dca8b146'), ObjectId('662695091e146752dca8b147')]

In [39]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [40]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('6626789e1e146752dca8b122'), 'name': 'John', 'address': 'Highway 37'}

In [41]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6626789e1e146752dca8b122'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('662678c51e146752dca8b123'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('662678f21e146752dca8b124'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662678f21e146752dca8b125'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662678f21e146752dca8b126'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662678f21e146752dca8b127'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662678f21e146752dca8b128'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662678f21e146752dca8b129'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662678f21e146752dca8b12a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662678f21e146752dca8b12b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662678f21e146752dca8b12c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662678f21e146752dca8b12d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('662678f21e146752dca8b12e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662678f21e146752dca8b12f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662679241e146752dca8b130'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662679241e146752dca8b131'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662679241e146752dca8b132'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662679241e146752dca8b133'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662679241e146752dca8b134'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662679241e146752dca8b135'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662679241e146752dca8b136'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662679241e146752dca8b137'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662679241e146752dca8b138'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662679241e146752dca8b139'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('662679241e146752dca8b13a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662679241e146752dca8b13b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [42]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [47]:
for x in mycol.find({},{ "_id": 0, "address": 0 }):
    print(x)

{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

In [48]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('662678f21e146752dca8b12c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662679241e146752dca8b138'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [49]:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('662678f21e146752dca8b126'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662678f21e146752dca8b129'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662678f21e146752dca8b12b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662678f21e146752dca8b12f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662679241e146752dca8b132'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662679241e146752dca8b135'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662679241e146752dca8b137'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662679241e146752dca8b13b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [50]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('662678f21e146752dca8b129'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662678f21e146752dca8b12f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662679241e146752dca8b135'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662679241e146752dca8b13b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [70]:
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('662695091e146752dca8b13c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662695091e146752dca8b144'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662695091e146752dca8b140'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662695091e146752dca8b146'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662695091e146752dca8b13d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662695091e146752dca8b13e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662695091e146752dca8b141'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662695091e146752dca8b13f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662695091e146752dca8b142'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662695091e146752dca8b143'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662695091e146752dca8b147'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662695091e146752dca8b145'), 'name': 'William', 'address': 'Central st 954'}

In [67]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

In [61]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [62]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

6  documents deleted.

In [63]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

31  documents deleted.

In [ ]:
#mycol.drop()

In [74]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('662695091e146752dca8b13c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662695091e146752dca8b13d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662695091e146752dca8b13e'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('662695091e146752dca8b13f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662695091e146752dca8b140'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662695091e146752dca8b141'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('662695091e146752dca8b142'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662695091e146752dca8b143'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662695091e146752dca8b144'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662695091e146752dca8b145'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('662695091e146752dca8b146'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662695091e146752dca8b147'), 'name': 'Minnie', 'address': 'Sideway 1633'}

In [72]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [75]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('662695091e146752dca8b13c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662695091e146752dca8b13d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662695091e146752dca8b13e'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('662695091e146752dca8b13f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662695091e146752dca8b140'), 'name': 'Betty', 'address': 'Green Grass 1'}